---
---
/* global ? */
body {
	padding-top: 40px;
	padding-bottom: 40px;
}
.divider-vertical {
	height: 50px;
	border-left: 1px solid #444;
}
a.dropdown-toggle:hover {
    cursor: pointer;
}

body nav {
    /*width: 90%;*/
}

div.navbar-inner{
    padding-left: 17%;
}

/* header */
header {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20%;
	background-repeat: repeat-y;
	color: #FFF;
}
header.product, 
header.home{
	background-image: url('{{ site.baseurl }}/img/abstract-11.jpg');
	background-color: #ecb993;
    
}
header.project{
	background-image: url('{{ site.baseurl }}/img/abstract-10.jpg');
	background-color: #01191d;
}
header.workshop{
	background-image: url('{{ site.baseurl }}/img/abstract-2.jpg');
	background-color: #bbba81;
}
header ul { list-style: none outside none; margin:0; padding: 0; text-align: left }
header ul li { display: inline; margin-left: 20pt; color: #FFF ; font-size: 20px;}

header h1 {
    display: inline-block;
}

.header-menu {
    /* margin-right: 300px; */
    /* border: 1px solid black; */
    /* background-color: #333333; */
    /* color: white; */
}

ul.header-menu
{
    margin: 0;
    padding: 0;
}

ul.header-menu li
{
    margin: 0px;
    list-style-type: none;
    display: inline;
}
.header-menu a {
    color: #f4f39d;
    
    text-decoration: underline;
}

.header-menu li {
    font-size: 14px;
}

.header-menu a {
    color: #f4f39d;
    /* text-decoration: underline; */
}


ul.header-menu li:not(:first-child):before {
    content: " | ";
    text-decoration: none;
}

header.home ul.subtitle li {
  font-style: italic;
  letter-spacing: 4pt;
  color: #f4f39d;
  font-size: 14px;
  font-weight: bold;
}
header.home ul.small li {
	font-size: 16px;
}

/* article */
article {
	margin-left: 25%; 
	margin-right: 25%;
	background-color: #F4F4F4;
	padding: 20px;
}
.post-list{
  font-size: 12px;
}


/* footer */
footer{
    font-size: 10px;
    text-align: center;
    color: #BBB;
    width: 99%; /* this fix scrollbars */
}

q:before, q:after{
    font-size: 1.5em;
    color: #474;
}
q:before {
    content: '“';
    padding-right: 10px;
    padding-left: 5px;
    border-left: 6px solid #474;
}
q:after {
    content: '”';
    padding-left: 10px;
}
q{
    background-color: #d2f3de;
    color: #476547;
    padding: 10px;
}

mark{
    background-color: #d2f3de;
    color: #476547;
    padding: 10px;
    display: block;
}

em{
    font-weight: bold;
}

