 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>MGSX Connection</h1>
        <p>MGSX is an open organization working on new technology.
        Working in a varity of domains like entertainment, digital arts, programming.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      
      
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Best of MGSX</h2>
          <p>Try out some of our best product like Caricature Studio and more.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Follow MGSX</h2>
          <p>Try out free projects and experiments, share your opinion and maybe be involved.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Developers</h2>
          <p>MGSX sharing nearly all is work. Fork projects on GitHub, reuse some piece of code, read some topics, ask for support.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>