<style>
/* bottstrap patch dropdown inversed */
.inverse-dropdown{
  background-color: #222;
  border-color: #111;
}
.inverse-dropdown li a{
  color: #999;
}
.inverse-dropdown li a:hover{
  color: #000;
}
.inverse-dropdown .divider{
   background-color: #333;
}
.inverse-dropdown .dropdown-header{
   color: #444;
}

</style>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/mgsx-logo.png" style="padding-top: 13px"></a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/">Home</a></li>

              <li class="divider-vertical"></li>
              <li><a href="{{ site.baseurl }}/services.html">Services</a></li>

              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Releases <b class="caret"></b></a>
                <ul class="dropdown-menu inverse-dropdown">
                <li class="dropdown-header">Games &amp; Creations</li>
                	{% for post in site.posts %}
                	{% if post.categories contains 'game' and post.categories contains 'product' %}
                	 <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                	{% endif %}
                	{% endfor %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Software &amp; Plugins</li>
                  {% for post in site.posts %}
                  {% if post.categories contains 'software' and post.categories contains 'product' %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Libraries &amp; Tools</li>
                  {% for post in site.posts %}
                  {% if post.categories contains 'library' and post.categories contains 'product' %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Work in progress <b class="caret"></b></a>
                <ul class="dropdown-menu inverse-dropdown">
                <li class="dropdown-header">Games &amp; Creations</li>
                  {% for post in site.posts %}
                  {% if post.categories contains 'game' and post.categories contains 'wip' %}
                   <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Software &amp; Plugins</li>
                  {% for post in site.posts %}
                  {% if post.categories contains 'software' and post.categories contains 'wip' %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Libraries &amp; Tools</li>
                  {% for post in site.posts %}
                  {% if post.categories contains 'library' and post.categories contains 'wip' %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Tutorials <b class="caret"></b></a>
                <ul class="dropdown-menu inverse-dropdown">
                  <li class="dropdown-header">LibGDX</li>
                  {% for post in site.posts %}
                  {% if post.type == 'blog' and post.group == 'libgdx' %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li class="divider"></li>
                  <li class="dropdown-header">GLSL</li>
                	{% for post in site.posts %}
                	{% if post.type == 'blog-glsl' %}
                	  <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                	{% endif %}
                	{% endfor %}

                  <!--
                  <li class="divider"></li>
                  <li class="dropdown-header">Misc</li>
                  {% for post in site.posts %}
                  {% if post.type == 'blog' and post.group == '' %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                  -->
                  
                  <li class="divider"></li>
                  <li><a href="{{ site.baseurl }}/tutorials.html">All tutorials...</a></li>
                </ul>
              </li>

              <li class="divider-vertical"></li>

              <li><a href="{{ site.baseurl }}/contribute.html">Contribute</a></li>

              <li class="divider-vertical"></li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu inverse-dropdown">
                  
                  <li><a href="{{ site.baseurl }}/whois.html">The network</a></li>
                  <li><a href="{{ site.baseurl }}/team.html">The team</a></li>
                  
                  
                </ul>
              </li>


            </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
