---
layout: default
---

<div class="post">

  <header class="workshop" style="padding-right: 140px;">
    <h1 class="post-title">Tutorial - {{ page.name }}</h1>
    <ul class="header-menu">
        {% include support-links.html %}
        {% include report-links.html %}
        {% include scm.html %}

        <li>
          <a href="{{ site.baseurl }}/greetings.html">Ask for more tutorials</a>
        </li>

    </ul>
  </header>

  <article class="container-fluid post-content">

    {{ content }}

  </article>

</div>
