---
layout: default
---

<div class="post">

  <header class="home">
    <h1 class="post-title">About {{ page.name }}</h1>
    <ul class="subtitle">
      <li>{{ page.description }}</li>
    </ul>
  </header>

  <article class="container-fluid post-content">
    <div class="row">
        <div class="col-md-4">
            <h2>Follow me on</h2>
            <ul>
                {% if page.website %}
                <li><a href="{{page.website}}" target="_blank">My website</a></li>
                {% endif %}

                {% if page.twitter %}
                <li><a href="https://x.com/{{page.twitter}}" target="_blank">Twitter</a></li>
                {% endif %}

                {% if page.github %}
                <li><a href="https://github.com/{{page.github}}" target="_blank">Github</a></li>
                {% endif %}

                {% if page.bitbucket %}
                <li><a href="https://bitbucket.org/{{page.bitbucket}}/" target="_blank">Bitbucket</a></li>
                {% endif %}

                {% if page.googleplay %}
                <li><a href="https://play.google.com/store/apps/developer?id={{page.googleplay}}" target="_blank">GooglePlay</a></li>
                {% endif %}

                <li><a href="{{page.url}}">MGSX Network</a></li>
            </ul>
            <h2>Contact me</h2>
            <ul>
                {% if page.email %}
                <li>Email : <a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
                {% else %}
                <li>Through MGSX : <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-8">
            <h2>More about me</h2>

            {{ content }}
        </div>
    </div>

  </article>

</div>
