---
layout: default
---

<div class="post">

  <header class="product">
    <h1>
      {{ page.name }}
      {% if page.icon %}
      <img src="{{ page.icon }}" height="36px" style="float:left; padding-right: 20px;">
      {% endif %}
    </h1>
    <ul class="header-menu">
        {% include support-links.html %}
        {% include report-links.html %}
        {% include scm.html %}
    </ul>
  </header>

  <article class="container-fluid post-content">
    {% include downloads.html %}
    {{ content }}
  </article>

</div>
