---
layout: default
---
<style>
header {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url('{{ site.baseurl }}/img/abstract-10.jpg');
  background-repeat: repeat-y;
  background-color: #01191d;
}
article {
  margin-left: 150px; 
  margin-right: 150px;
  background-color: #F4F4F4;
  padding: 20px;
}
.post-title {
  margin-left: 100px; 
  margin-right: 100px;
  color: #FFF;
}

</style>
<div class="post">

  <header class="post-header">
    <h1 class="post-title">Project {{ page.name }}</h1>
{% if page.github %}
	<div class="alert alert-success pull-right">
		<a href="https://github.com/{{ site.github_username }}/{{ page.github }}">Fork me on GitHub</a>
	</div>
{% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
